body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.paletteTile {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.paletteTile2 {
  background: #fff;
  border: 1px dashed #cccccc;
  float: left;
  padding: 0;
  text-align: center;
}

div.paletteTile2:hover {
  border: 1px solid #ffffff;
}

.clear {
  clear: both;
}

.centerParent {
  display: inline-block;
  text-align: center;
}

.centerChild {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* taken from https://www.w3schools.com/css/css_table.asp*/
table {
  border-collapse: collapse;
}
th {
    background-color: #4CAF50;
    color: white;
}
table, th, td {
    border: 1px solid #bbb;
    padding: 4px;
}
tr:hover {background-color: #f5f5f5}
tr:nth-child(even) {background-color: #f2f2f2}

/* taken from https://www.w3schools.com/css/css_navbar.asp *******************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/***********************************************************************************/
